In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('/kaggle/input/chocolate-ratings/chocolate.csv')

In [3]:
df.head()

,ref,company_manufacturer,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,ingredients,most_memorable_characteristics,rating
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76%,"3- B,S,C","rich cocoa, fatty, bready",3.25
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76%,"3- B,S,C","cocoa, vegetal, savory",3.50
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76%,"3- B,S,C","cocoa, blackberry, full body",3.75
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68%,"3- B,S,C","chewy, off, rubbery",3.00
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72%,"3- B,S,C","fatty, earthy, moss, nutty,chalky",3.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   ref                               2530 non-null   int64
 1   company_manufacturer              2530 non-null   object
 2   company_location                  2530 non-null   object
 3   review_date                       2530 non-null   int64
 4   country_of_bean_origin            2530 non-null   object
 5   specific_bean_origin_or_bar_name  2530 non-null   object
 6   cocoa_percent                     2530 non-null   object
 7   ingredients                       2443 non-null   object
 8   most_memorable_characteristics    2530 non-null   object
 9   rating                            2530 non-null   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 197.8+ KB

## Data preprocessing

In [5]:
df['cocoa_percent']=df['cocoa_percent'].str.replace('%','').astype(float)

In [6]:
df['ingredients']=df['ingredients'].dropna()

In [7]:
def extract_number(value):
    if pd.isna(value):
        return None
    number_part = value.split('-')[0].split('- ')[0]
    number = int(number_part)
    return number

df['ingredientsNum'] = df['ingredients'].apply(extract_number)

In [8]:
df.head()

,ref,company_manufacturer,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,ingredients,most_memorable_characteristics,rating,ingredientsNum
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,"3- B,S,C","rich cocoa, fatty, bready",3.25,3.0
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,"3- B,S,C","cocoa, vegetal, savory",3.50,3.0
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,"3- B,S,C","cocoa, blackberry, full body",3.75,3.0
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,"3- B,S,C","chewy, off, rubbery",3.00,3.0
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,"3- B,S,C","fatty, earthy, moss, nutty,chalky",3.00,3.0

In [9]:
df['ingredients']=df['ingredients'].str.replace('6-','')
df['ingredients']=df['ingredients'].str.replace('3- ','')
df['ingredients']=df['ingredients'].str.replace('4- ','')
df['ingredients']=df['ingredients'].str.replace('2- ','')
df['ingredients']=df['ingredients'].str.replace('5- ','')
df['ingredients']=df['ingredients'].str.replace('4- ','')
df['ingredients']=df['ingredients'].str.replace('5-','')
df['ingredients']=df['ingredients'].str.replace('1- ','')

In [10]:
df['ingredients'].unique()

array(['B,S,C', 'B,S,C,L', 'B,S', 'B,S,C,V', 'B,S,C,V,L', 'B,S,C,V,L,Sa',
       'B,S,C,V,Sa', nan, 'B,S,V,L', 'B,S*', 'B', 'B,S*,C', 'B,S,L',
       'B,S,V', 'B,S*,C,L', 'B,S*,C,Sa', 'B,S*,Sa', 'B,S,C,Sa',
       'B,S*,V,L', 'B,C', 'B,S*,C,V', 'B,S,C,L,Sa'], dtype=object)

In [11]:
import pandas as pd

total_ingredients = ['B', 'S', 'S*', 'C', 'V', 'L', 'Sa']

# Create binary columns for each ingredient
for ingredient in total_ingredients:
    df[ingredient.strip()] = df['ingredients'].apply(lambda x: 1 if isinstance(x, str) and ingredient.strip() in x.split(',') else 0)

# Drop the original 'ingredients' column
df.drop('ingredients', axis=1, inplace=True)

In [12]:
df.head()

,ref,company_manufacturer,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,most_memorable_characteristics,rating,ingredientsNum,B,S,S*,C,V,L,Sa
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,"rich cocoa, fatty, bready",3.25,3.0,1,1,0,1,0,0,0
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,"cocoa, vegetal, savory",3.50,3.0,1,1,0,1,0,0,0
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,"cocoa, blackberry, full body",3.75,3.0,1,1,0,1,0,0,0
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,"chewy, off, rubbery",3.00,3.0,1,1,0,1,0,0,0
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,"fatty, earthy, moss, nutty,chalky",3.00,3.0,1,1,0,1,0,0,0

In [13]:
df['specific_bean_origin_or_bar_name'].unique()

array(['Kokoa Kamili, batch 1', 'Zorzal, batch 1',
       'Bejofo Estate, batch 1', ..., 'APROCAFA, Acandi',
       'Dry Aged, 30 yr Anniversary bar', 'Mountains of the Moon'],
      dtype=object)

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

df['most_memorable_characteristics'] = df['most_memorable_characteristics'].str.lower()
df['most_memorable_characteristics'] = df['most_memorable_characteristics'].str.replace('[^a-zA-Z\s]', '')  # Remove non-alphabetic characters

tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['most_memorable_characteristics'])
tfidf_df = pd.DataFrame(tfidf_matrix.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
df = pd.concat([df, tfidf_df], axis=1)

In [15]:
df=df.drop('most_memorable_characteristics',axis=1)

In [16]:
df.head()

,ref,company_manufacturer,company_location,review_date,country_of_bean_origin,specific_bean_origin_or_bar_name,cocoa_percent,rating,ingredientsNum,B,...,wine,winey,with,wood,woodsy,woody,wtf,xl,yellow,yogurt
0,2454,5150,U.S.A.,2019,Tanzania,"Kokoa Kamili, batch 1",76.0,3.25,3.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2458,5150,U.S.A.,2019,Dominican Republic,"Zorzal, batch 1",76.0,3.50,3.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2454,5150,U.S.A.,2019,Madagascar,"Bejofo Estate, batch 1",76.0,3.75,3.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2542,5150,U.S.A.,2021,Fiji,"Matasawalevu, batch 1",68.0,3.00,3.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2546,5150,U.S.A.,2021,Venezuela,"Sur del Lago, batch 1",72.0,3.00,3.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# df_dummy=pd.get_dummies(df['specific_bean_origin_or_bar_name'])

In [18]:
df['specific_bean_origin_or_bar_name'].unique()

array(['Kokoa Kamili, batch 1', 'Zorzal, batch 1',
       'Bejofo Estate, batch 1', ..., 'APROCAFA, Acandi',
       'Dry Aged, 30 yr Anniversary bar', 'Mountains of the Moon'],
      dtype=object)

In [19]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

df['specific_bean_origin_or_bar_name'] = df['specific_bean_origin_or_bar_name'].str.lower()
df['specific_bean_origin_or_bar_name'] = df['specific_bean_origin_or_bar_name'].str.replace('[^a-zA-Z\s]', '')  # Remove non-alphabetic characters

tokenized_text = df['specific_bean_origin_or_bar_name'].apply(lambda x: x.split())

vectorizer = CountVectorizer()
bow_matrix = vectorizer.fit_transform(df['specific_bean_origin_or_bar_name'])

bow_df = pd.DataFrame(bow_matrix.toarray(), columns=vectorizer.get_feature_names_out())

df = pd.concat([df, bow_df], axis=1)

In [20]:
df=df.drop('specific_bean_origin_or_bar_name',axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2530 entries, 0 to 2529
Columns: 2212 entries, ref to zulia
dtypes: float64(548), int64(1661), object(3)
memory usage: 42.7+ MB

In [22]:
categorical_cols = ['company_manufacturer', 'company_location', 'country_of_bean_origin']
df = pd.get_dummies(df, columns=categorical_cols)
df = df.select_dtypes(include=['number'])

In [23]:
duplicate_columns = df.columns[df.columns.duplicated()]
df = df.loc[:, ~df.columns.duplicated()]

In [24]:
X=df.drop('rating',axis=1)
y=df['rating']

In [25]:
df.head()

,ref,review_date,cocoa_percent,rating,ingredientsNum,B,S,S*,C,V,...,xoconuzco,xocunusco,yacao,yogyakarta,your,yr,yum,zarumilla,zorzal,zulia
0,2454,2019,76.0,3.25,3.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,2458,2019,76.0,3.50,3.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,1,0
2,2454,2019,76.0,3.75,3.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,2542,2021,68.0,3.00,3.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,2546,2021,72.0,3.00,3.0,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

## Modeling

In [26]:
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error
import lightgbm as lgb
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error


features=X
target=y




params = {
    'boosting_type': 'gbdt',
    'objective': 'regression',
    'metric': 'rmse', 
    'num_leaves': 31,
    'learning_rate': 0.05,
    'feature_fraction': 0.9,
    'bagging_fraction': 0.8,
    'bagging_freq': 5,
    'verbose': 0
}

n_splits = 5
kf = KFold(n_splits=n_splits, shuffle=True, random_state=42)

rmse_scores = []

for fold, (train_idx, test_idx) in enumerate(kf.split(features)):
    print(f"Fold {fold+1}/{n_splits}")
    
    X_train, X_test = features.iloc[train_idx], features.iloc[test_idx]
    y_train, y_test = target.iloc[train_idx], target.iloc[test_idx]
    
    lgb_train = lgb.Dataset(X_train, y_train)
    lgb_test = lgb.Dataset(X_test, y_test, reference=lgb_train)
    
    num_round = 1000
    bst = lgb.train(params, lgb_train, num_round, valid_sets=[lgb_train, lgb_test])
    
    y_pred = bst.predict(X_test, num_iteration=bst.best_iteration)
    
    fold_rmse = mean_squared_error(y_test, y_pred) ** 0.5
    rmse_scores.append(fold_rmse)
    print(f"RMSE for fold {fold+1}: {fold_rmse}")

mean_rmse = sum(rmse_scores) / len(rmse_scores)
print(f"\nMean RMSE across all folds: {mean_rmse}")

Fold 1/5
RMSE for fold 1: 0.3624076599657789
Fold 2/5
RMSE for fold 2: 0.37511821767893117
Fold 3/5
RMSE for fold 3: 0.34365715194810337
Fold 4/5
RMSE for fold 4: 0.35100210575105073
Fold 5/5
RMSE for fold 5: 0.3597907235585486

Mean RMSE across all folds: 0.3583951717804825